<div class="welcome"><div class="wrap">


	<div class="logo">
		<a href=""><img src="/img/logotype-big.png" height="59" alt="" /></a>
	</div>

	<div class="pattern">
		<div class="welcome-message">
			<img src="/img/welcome-message.png" height="232" alt="Мы совместили last.fm, лучшие музыкальные чарты и вконтакте и сделали удобный плеер музыки, без ограничений." />

			<a href="" class="vk-login" ng-click="user.login()">Войти через Вконтакте</a>
		</div>
	</div>

	<div class="table features">
		<div class="cell">
			<img src="/img/welcome-icon1.png" height="60" alt="" />
			<h2>Чарты</h2>
			<p>Лучшее за неделю на iTunes, Beatport,<br> Billboard, BBC, JunoDownload и др!<br>Не нашли любимый источник? Пишите нам!</p>
		</div>
		<div class="cell">
			<img src="/img/welcome-icon2.png" height="60" alt="" />
			<h2>Исполнители и альбомы</h2>
			<p>Аккуратно составленная и исчерпывающая<br> информация о практически любых<br> исполнителях и их альбомах.</p>
		</div>
		<div class="cell">
			<img src="/img/welcome-icon3.png" height="60" alt="" />
			<h2>Жанры</h2>
			<p>От попсы до break core-а!</p>
		</div>
	</div>

	<div class="table warning">
		<div class="cell">
			<img src="/img/welcome-warning.png" alt="" />
		</div>
		<div class="cell">
			Сайт Fulltrack.fm является только интерфейсом и не хранит аудиозаписи у себя на сервере.
			Вся музыка воспроизводиться с серверов Вконтакте, через <a href="http://vk.com/dev/audio.search" target="_blank">открытое API</a>.
			У каждой композиции есть прямая ссылка на магазин с которого ее можно приобрести.

			<br>Информация о исполнителях, жанрах и альбомах предоставлена <a href="http://last.fm/api" target="_blank">Last.fm</a>. Все права на чарты и торговые марки принадлежат их авторам.
			<br>
			<br><b>Исходный код сайта <a href="">доступен публично на Github</a>.</b>
		</div>
	</div>

	<div class="copyright">
		Любите музыку
	</div>

</div></div>